{% extends 'base/navbar.html' %}
{% load static %} 
{% block content %}    

        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for item in wishlist %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{item.products.images.all.first.image.url}}" alt="Image"></a>
                                                    <p>{{item.products.name}}</p>
                                                </div>
                                            </td>
                                            <td>${{item.products.price}}</td>
                                            <td>
                                                <div class="qty">
                                                    <a href="{% url 'wish_handler' pk=item.id pk2='sub'  %}"><button class="btn-minus"><i class="fa fa-minus"></i></button></a>
                                                    <input type="text" value="{{item.quantity}}">
                                                    <a href="{% url 'wish_handler' pk=item.id pk2='add'  %}"><button class="btn-plus"><i class="fa fa-plus"></i></button></a>
                                                </div>
                                            </td>
                                            <td><a href="{% url 'add-to-cart' item.id %}"><button class="btn-cart">Add to Cart</button></a></td>
                                            <td><a href="{% url 'remove-wish' item.id %}"><button><i class="fa fa-trash"></i></button></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        
{% endblock %}